<h2>Új csapat létrehozása</h2>

<form [ngFormModel]="addTeamForm">
    <div class="form-group has-feedback"
         [ngClass]="{
                     'has-success': !addTeamForm.pristine && addTeamForm.controls['inputTeamName'].valid,
                     'has-error': !addTeamForm.pristine && !addTeamForm.controls['inputTeamName'].valid
                    }">
        
        <label for="inputTeamName">Név</label>

        <input type="text" id="inputTeamName" ngControl="inputTeamName" #inputTeamName="ngForm" class="form-control" [(ngModel)]="teamName"
               placeholder="Csapat neve"/>

        <span *ngIf="!addTeamForm.pristine" class="glyphicon form-control-feedback"
              [ngClass]="{
                          'glyphicon-ok': inputTeamName.valid,
                          'glyphicon-remove': !inputTeamName.valid
                         }"
              aria-hidden="true">
        </span>

        <div *ngIf="!addTeamForm.pristine && inputTeamName.errors">
            <div *ngIf="inputTeamName.errors.required" class="alert alert-danger">A csapat neve kötelező!</div>
        </div>
    </div>

    <div class="form-group">
        <label for="teamLogo">Logó</label>
        <input type="file" id="teamLogo">
        <p class="help-block">Válassz logót a bajnoksághoz.</p>
    </div>

</form>

<div>
    <a class="btn btn-primary" (click)="cancel()">Mégse</a>
    <a class="btn btn-primary" [ngClass]="{'disabled': !addTeamForm.valid}" (click)="save()">Mentés</a>
</div>