.box {
    margin-right: 10px;
}

.logoStyle {
    border-radius: 32px;
    height: 64px;
    width: 64px;
}

.inputfile {
    width: 0.1px;
    height: 0.1px;
    overflow: hidden;
}

.inputfile + label {
    cursor: pointer;
    padding: 0.625rem 1.25rem;
    /* 10px 20px */
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, .15);
    border-radius: 4px;
}

.inputfile + label svg {
    width: 1em;
    height: 1em;
    vertical-align: middle;
    fill: currentColor;
    margin-top: -0.25em;
    /* 4px */
    margin-right: 0.25em;
    /* 4px */
}

.error {
    color: red;
}
