.logoStyle {
    border-radius: 32px;
    height: 64px;
    width: 64px;
}

.myTd {
    vertical-align: middle;
}

.custom-pagination {
    display: flex;
    max-width: 300px;
    margin: auto;
    font-size: 20px;
    flex: 1;
    text-align: center;  
}